{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block content %}
    <h1>Jack Francis's Homepage</h1>
    <p>🚫🚫🚫 Just a heads up, if your computer isn't very powerful it won't be able to load the 'About' page... 🚫🚫🚫</p>
    <p>🐝🐝🐝 Yeah I kinda put the entire Bee Movie Script on that page (AKA 20,000 characters) 🐝🐝🐝</p>
    <p>😏😏😏 I could just reduce the character count to make it run easier but let's see how your Mac handles it! 😏😏😏</p>
    <p>😂😂😂 It's also just a lot funnier this way!😂😂😂</p>
    <p>😁😁😁 Anyway, <b>thank you Lindsay</b> for this fun filled year in Programming I & II! 😁😁😁</p>
{% endblock %}